# Airflow runtime files
airflow.cfg
airflow.db
logs/
standalone_admin_password.txt
webserver_config.py

# Python
__pycache__/
*.pyc
testConnection.ipynb

# Virtual environment
airflow_venv/
../airflow_venv/

# Env
.env
